.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main{
    display: flex;
    height: 100%;
}

.conteudo{
    padding: 100px 60px 100px 60px;
    width: 100%;
    background-color: #f8f9fa;
}

.conteudo p{
    font-weight: 700;
    font-size: 31px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: #000000;
}

section.dadosCliente {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.labelInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.labelInput input {
    padding: 5px 10px;
}

.inputField, .selectField {
    background-color: transparent;
    height: 2.5em;
    border-radius: 5px;
}

section.itens {
    display: flex;
    gap: 20px;
}

.containerImagemProduto {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.produtoImagem {
    width: 100% !important;
    height: auto !important;
    object-fit: contain; /* ou cover, dependendo do efeito desejado */
}

.placeholder {
    width: 100%;
    height: 100%;
    background-color: #d3d3d3; /* Cinza claro */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.dadosProduto {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 40px;
}

.dadosProduto button {
    width: 50%;
    margin-left: auto;
}

.inputImagem {
    display: flex;
    gap: 10px;
    align-items: center;
}

.doisInput{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.containerCarrinho {
    border: 1px #000000 solid;
    width: 45%;
    border-radius: 10px;
    max-height: 250px;
}

.carrinho {
    height: 100%;
    max-height: 100%;
}

.titulo {
    background-color: #3A0C0E;
    padding: 10px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.titulo p {
    color: #FFFFFF;
}

.itensCarrinho {
    padding: 10px 10px;
    max-height: 190px;
    overflow-y: auto;
}

.itensCarrinho p{
    font-size: 14px;
}

.itemCarrinho {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footerCarrinho {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footerCarrinho p {
    font-size: 18px;
}

.dadosPagamento {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

section.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.finalizar {
    width: 250px;
    background-color: #15741F;
}

.cancelar {
    width: 250px;
    background-color: #7A7A7A;
}